@import "../variables.scss";

.LogoCard{

    display: flex;
    flex-direction: row;
    width: 50%;
    height: 5.5vw;
    background-color: $primary-color;
}
img {
    width: 20%;
    min-width: 5vw;
    height: 100%;
    background-color: $primary-color-light;
}
.LogoChildren{
    width: 80%;
}