@import "../variables.scss";

.dot {
  height: 0.5vw;
  width: 0.5vw;
  background-color: $primary-color-light;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: 1;
}

.linelr {
  background: linear-gradient(
    to top right,
    $primary-color calc(50% - 1px),
    $primary-color-light,
    $primary-color calc(50% + 1px)
  );
  display: inline-block;
  position: absolute;
  z-index: 0;
}

.linerl {
  background: linear-gradient(
    to top left,
    $primary-color calc(50% - 1px),
    $primary-color-light,
    $primary-color calc(50% + 1px)
  );
  display: inline-block;
  position: absolute;
  z-index: 0;
}
