@import "../variables.scss";

#boxContainer {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: $primary-color;
  justify-content: center;
}

#LandingPrimaryHeading {
  position: relative;
  top: 33vh;
  z-index: 2;
  margin: 0 auto;
  color: white;
  width: max-content;
  max-width: max-content;
  height: 15vh;
  text-align: center;
  font-size: 5vw;
  font-weight: 400;
  font-family: "Roboto";
  overflow: hidden;
  border-right: 0.5vw solid transparent;
  white-space: nowrap;
  animation: type 4.5s steps(120, end), blink 0.5s step-end 4.5;
}

#LandingSecondaryHeading {
  position: relative;
  top: 35vh;
  z-index: 2;
  margin: 0 auto;
  color: white;
  width: max-content;
  max-width: max-content;
  height: max-content;
  text-align: center;
  font-size: 1vw;
  font-weight: 400;
  font-family: "Roboto";
  overflow: hidden;
  border-right: 0.25vw solid transparent;
  white-space: nowrap;
  animation: delayed_type 9s steps(150, end), blink 0.75s step-end infinite;
  animation-delay: 0s, 1.5s;
}

@keyframes type {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes delayed_type {
  from {
    width: 0;
  }
  22% {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: $secondary-color;
  }
  100% {
    border-color: transparent;
  }
}
