$primary-color: #00acc1;
$primary-color-light: #5ddef4;
$primary-color-dark: #007c91;

$secondary-color: #f4511e;
$secondary-color-light: #ff844c;
$secondary-color-dark: #b91400;

$text-color: black;
$text-color-light: black;
$text-color-dark: white;
